<!-- If indicator loading$ is true (if http call is made)-->
<div class="loader-wrapper" *ngIf="loading$ | async">
  <div class="svg-container" >
    <svg
      id="alphasvg"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 960.1 606.1"
      style="enable-background: new 0 0 960.1 606.1;"
      xml:space="preserve"
    >
      <g id="Layer_1">
        <rect
          id="_1"
          y="202.2"
          class="st0 animationControls"
          width="130.8"
          height="202.3"
        />
      </g>
      <g id="Layer_2">
        <rect
          id="_2"
          x="130"
          y="0"
          class="st0 animationControls"
          width="65.4"
          height="202.3"
        />
      </g>
      <g id="Layer_3">
        <rect
          id="_3"
          x="194.7"
          y="202.4"
          class="st0 animationControls"
          width="130.5"
          height="403.7"
        />
      </g>
      <g id="Layer_4">
        <path
          id="_4"
          class="st1 animationControls"
          d="M324.4,404.4h130.7L618.2,0.1H486.4L324.4,404.4z"
        />
      </g>
      <g id="Layer_5">
        <rect
          id="_5"
          x="634.6"
          y="202.2"
          class="st0 animationControls"
          width="65.4"
          height="202.3"
        />
      </g>
      <g id="Layer_6">
        <path
          id="_6"
          class="st0 animationControls"
          d="M960.1,202.4V0.1H700v202.3H960.1z"
        />
      </g>
      <g id="Layer_7">
        <!-- <g id="Group_219" transform="translate(-685.001 -1230)">
          <g id="Group_15" transform="translate(685.001 1230)"> -->
        <path
          id="_7"
          class="st1 animationControls"
          d="M700,606.1h65.4l81.6-202.3H781L700,606.1z"
        />
        <!-- </g>
        </g> -->
      </g>
    </svg>
  </div>
</div>