
h2 {
    color: var(--primary); 
    font-weight: 600;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgba(0,0,0,.5);

    line-height: 1.5;
    padding: .02px;
    margin-bottom: 40px;
    letter-spacing: -.1px;
}
.pop-up-section {
    position: relative;
    padding: 2rem;
}

.close-pop-up {
    position: absolute;
    right: 0;
    top: 0;
}