@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #111442;
  --secondary: #70E2CB;
  --success: #70E2CB;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #E6E7E8;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--primary);
}
p {
  font-family: 'Inter', sans-serif;
}
h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  color: var(--primary); 
}
h2 {
  font-size: 30px !important;
  margin-bottom: 30px !important;
}
* {
  font-family: 'Inter', sans-serif;
}

button {
  background-color: var(--primary);
  color: #fff;
}